<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/articles" class="brand-logo center">
                Article Mania
            </a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="right hide-on-small-only">
                {{#if user}}
                    <li>
                        <a href="/dashboard">
                            Logged in as {{user.firstName}} {{user.lastName}}
                        </a>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            Logout
                        </a>
                    </li>
                {{else}}
                    <li>
                        <a href="/articles">
                            Public Articles
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>