<h1>Welcome to our website <strong>BlogPost</strong></h1>
<h4>A decent platform for the ones who want their articles and their work to be presented in front of the world!!!</h4>
<a class="btn red darken-1" href="/auth/google">Login with Google</a>